// Primary DoSomething Colors
$blue: #23b7fb;
$purple: #4e2b63;
$yellow: #fcd116;


html, body {
  height: 100%;
}

body {
  background-color: $purple;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

.map-container {
  height: 100%;
}

#map {
  height: 100%;
}

#interface {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.sabbatical {
  background-color: fuchsia;
  display: table;
  margin: 0 auto;
  padding: 10px;
}
